
/* MENU */
.primary a {
  text-decoration: none;
  display: block;
  font-family : 'Arial', sans-serif;
  font-size: 18px;
  font-weight:bolder;
  text-shadow: 1px 1px 5px #343434;
  text-align: left;
}

.primary ul {
  list-style: none;
  position: relative;
}

.primary li {
  float: left;
  list-style-type: none;    
}

nav {
  display:inline-flex;
  justify-content:center;
  position: fixed;
  width: 100%;
  left:0%;
  top:0%;
  background-color:rgba(0, 0, 0, 0.8);
  z-index: 5;
}

/*menu principal*/
.actuel a {
  position: relative;
  color : #f5cc0e;
  z-index: 5;
}

.pas_actuel a{
  position:relative;
  z-index: 5;
  color: white;
}

ul.primary li a {
  display: block;
  padding: 20px 50px;
}


/*sous menu*/
ul.sub {
  position: absolute;
  width: 155px;
  display:none;
  z-index: 1;
}

ul.sub li {
  float: none;
}

ul.sub li a {
  color: #000;
  margin-left: -40px;
  margin-top: 10px;
  justify-content:center;
}

ul.sub2 {
  position: absolute;
  width: 144px;
  display:none;
}

ul.sub2 li {
  float: none;
}

ul.sub2 li a {
 padding-left:50px;
  margin-left: -60px;
  margin-top: 2px;
  justify-content:left;
}

/* le hover des sous menu*/
ul.sub li a:hover {
  color: #f5cc0e;
}

ul.sub2 li a:hover {
  color: #f5cc0e;
}

/*sous menu*/
ul.primary li:hover ul {
  display: block;
  background-color:rgba(0, 0, 0, 0.8);
  padding-top: 100px;
  margin-top:-100px;
}

ul.primary li:hover a {
  color: #fff;
}

ul.primary div.pas_actuel:hover a {
  color: #f5cc0e;
}

ul.primary li:hover > a{
  color: #f5cc0e;
} 

#premier:hover {
  color: #f5cc0e;
} 

/* CORPUS */
html {
  background-image: url(../image/accueil2.jpg);
  background-attachment:fixed;
  background-repeat:no-repeat;
  background-position:50% 40%;
  height:100%;
}

body{
  height:60%;
  position: relative;
}

#contener{
  min-height:100%;
  position: relative;
  padding-bottom: 10%;
}

.corps  {
  position: relative;
  margin-top: 12%;
  margin-left:10%;
  margin-right:10%;
  padding-bottom: 2%;
  background-color:rgba(255, 255, 255, 0.7);
  z-index: 1;
}

.corps a{
  color:#f5cc0e;
  text-decoration: none;
}

.corps h1{
  line-height: 35px;
  font-family :'Rubik', cursive;;
  color: black;
  text-decoration:none;
  text-align: center;
  letter-spacing: 0.1em;
  font-size: 120%;
  padding:2%;
}

.corps p{
  line-height: 30px;
  font-family :'Rubik', cursive;
  color: black;
  text-decoration:none;
  text-align: center;
  letter-spacing: 0.1em;
  font-size: 105%;
  padding:2%;
}

.text1 p {
  text-align: justify;
  padding-left: 15%;
  padding-right: 15%;
}
.corps a{
  font-weight: 900;
  text-shadow: 0.1em 0.1em 0.1em #A4A4A4;
  color:  black;
}

.corps a:hover {
  color: #f5cc0e;
} 

#boutonpdf a {
  position: relative;
  left: 31%;
  margin-right: 15%;
}

#boutonpdf img {
  width: 12%;
}
/* PIED DE PAGE */
.footer {
  width: 100%;;
  position: absolute;
  bottom: -20%;
  z-index: 2;
  background-color:rgba(0, 0, 0, 0.8);
  margin-left:-8px;
  padding-right:15px;
}

.footer p{
  font-family : 'Gill Sans', sans-serif;
  font-size: 12px;
  font-weight:normal;
  margin-right: 10px;;
  color :white;
  letter-spacing: 0.1em;
}

.footer li {
  position: relative;
  margin-left:8%;
  left : 15%;
  list-style-type: none;
  margin-top:1em;
  float: left;
  padding-bottom: 0.2em;
}

.footer ul {
  list-style: none;
  position: relative;
}


.footer a img {
  padding-left: 30%;
  padding-bottom:2%;
  height:100%;
}


/* AUTRE */
#scrollUp{
  position: fixed;
  top : 80%;
  left: -1000px;
  opacity: 1;
}

.social a {
  position: fixed;
  top: 20%;
  left: 2%; 
  z-index: 3;
}

.social2 a {
  position: fixed;
  top: 28%;
  left: 2%; 
  padding-left: 10px;;
  z-index: 3;
}

#slides{
  position: relative; 
  padding: 1%;
  margin-left: 28%;
  margin-right: 28%;
  padding-bottom: 42%; 
  box-shadow: 0 0 20px rgba(0,0,0,0.4); 
  list-style-type: none;
}
#slides img {
  width: 85%; 
  position: relative;
  right: 10%; 
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  padding-left: 15%;
  opacity: 0;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}

.showing {
  opacity: 1;
  z-index: 2;
}

#next {
  padding-top:1%;
  width: 2.8em;
  position: absolute;
  left: 65%;
  top : 80%;
  z-index: 2;
}

#previous{
  padding-top:1%;
  width: 2.8em;
  position: absolute;
  left: 32%;
  top : 80%;
  z-index: 99;
}


#pause img{
  padding-top:1%;
  position: absolute;
  width: 2.8em;
  left: 49%;
  top : 80%;
  z-index: 2;
}
/* MODE TABLETTE */
@media only screen and (max-width: 1024px) {
  .primary a {
    font-size: 15px;
  }

  .corps  {
    padding-bottom: 9%;
    margin-top: 26%;
  }

  .corps h1{
    line-height: 35px;
    padding-left:4em;
    margin-right:11%;
    font-size: 115%;
    padding-top: 10%;
  }
  
  .corps p{
    font-size: 100%;
    line-height: 40px;
    padding-right: 3em;
    padding-left: 3em;
    padding-top: 5%;
  }
    
  .footer {
    bottom: -10%;
  }
  .footer li {
    margin-left:-7%;
    margin-right:16%;
    font-size: 5px;
  }
  .footer p {
    font-size: 9px;
  } 

  .footer img {
    width: 68%;
  }
  .social img {
    width: 100%;
    
  }
  .social2 img {
    width: 100%;
  }
  .social a {
    left: 1em; 
  }
  .social2 a {
    left: 1em; 
  }

  #slides{
    height: 11em;
    width: 28em;
    left:-6em;
  }

  #slides img {
    width: 24em; 
    left:-2em; 
  }

  #next {
    top : 88em;
    left: 72%;
  }

  #previous{
    top : 88em;
    left: 23%;
  }

  #pause img{
    top : 88em;
    left: 48%;
  }
  #boutonpdf img {
    width: 10em;
  }  
  #boutonpdf {
    padding-left:0em;
    padding-right:13em;
  }
}
/* MODE SMARTPHONE */
@media only screen and (max-width: 420px) {
  .primary a {
    font-size: 0.75em;
  }

  .corps  {
    margin-top: 65%;
    padding-bottom: 15em;
  }

  .footer p{
    font-size: 10px;
    margin-right: 0px;
    margin-bottom: 6%;
    margin-top: 0%;
  }
  
  .footer li {
    margin-left:20%;
    left : 0%;
    line-height: 5px;
  }
  
  .footer a img {
    width:55%;
    margin-bottom: 9%;
    margin-top: 3%;
    float:right;
  }

  .footer {
    bottom: -13em;
  }

  .social a {
    left: 0.2em; 
  }
  .social2 a {
    left: 0.2em; 
  }

  .social a{
    top : 9.9em;
  }
  .social2 a{
    top : 12.9em;
  }

  .social img {
    width: 70%;
  }

  .social2 img {
    width: 70%;
  }

  #scrollUp {
    top : 75%;
  }

  #scrollUp img {
    width: 88%;
  }

  .corps h1{
    line-height: 30px;
    padding-bottom: 13%;
    font-size: 110%;
    padding-top : 1em;
  }
  .corps p{
    line-height: 30px;
    padding-bottom: 10%;
    padding-right: 9%;
    padding-left: 9%;
    font-size: 95%;
  }

  #realisations {
    line-height: 55px;
    font-size: 80%;
    left : -1em;
    margin-left: -1em;
 
  }

  #slides{
    margin-left: -2.3em;
    margin-right: 28%;
    margin-bottom: 19em;
    box-shadow: none;
  }

  #slides img {
    width: 17em; 
    right: 0%; 
  }

  #next {
    left: 14em;
    top : 102em;
  }

  #previous{
    left: 0.5em;
    top : 102em;
  }

  #pause img{
    left: 7.5em;
    top : 102em;
  }

  #boutonpdf {
    line-height: 8em;
    margin-bottom: -13em;
    margin-right: 4em;
  }

  #boutonpdf img{
    width:9em;
  }

}